@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
  margin: 0;
}

.container {
  display: flex;
  margin-left: 100px;
  border: solid 1px orange;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 6em;
  letter-spacing: 0.05em;
  text-align: right;
  margin-left: auto;
  white-space: pre-line;
}